<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WEBSITE</title>\
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<form method="POST" action="">
    <h2>REGISTRATION</h2><br><br>
    <div class="user">
    {% csrf_token %}
    {{form.username.label}}
    {{form.username}}<br><br>

    {{form.email.label}}
    {{form.email}}<br><br>

    {{form.password1.label}}
    {{form.password1}}<br><br>

    {{form.password2.label}}
    {{form.password2}}<br><br>
    <input type="submit" name="createuser">
    </div>
</form>

</body>